<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pjj.dao.UserDao">

	<insert  id="addUser" parameterType="cn.pjj.bean.User">
		insert into users values(#{id},#{username},#{password},
		#{birthday},#{email},#{phone},#{address})
	</insert>
	
	<select id="queryUserById" parameterType="String" resultType="cn.pjj.bean.User">
		select * from users where id=#{id}
	</select>

	<select id="login" parameterType="String" resultType="cn.pjj.bean.User">
		select * from users where username=#{0} and password=#{1}
	</select>

	<update id="updateUser" parameterType="cn.pjj.bean.User">
		update users set username=#{username},password=#{password},
		birthday=#{birthday},email=#{email},phone=#{phone},address=#{address} where id = #{id}
	</update>

	<delete id="deleteUserById" parameterType="String">
		delete from users where id=#{id}
	</delete>
</mapper>